.container {
    display: flex;
    gap: 10px;
    flex-flow: column;
}
.container div {
    border: 2px solid black;
    max-width: 800px;
    padding: 10px;
}

::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }